@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center body-margin">
    <h1 class="display-4">flashtube</h1>
    <p>A free youtube video converter to MP3</p>
    <input type="text" id="inputData" class="form-control" placeholder="Enter your youtube link here" />
    <input type="button" id="fireAction" class="btn btn-primary" value="Download" style="margin-top: 20px" />
</div>
