@model YoutubeLinkModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center body-margin">
    <h1 class="display-4">flashtube</h1>
    <p>A free youtube video converter to MP3</p>
    <form asp-action="DownloadVideo" asp-controller="Home" method="post">
            <input type="text" id="urlInput" name="url" placeholder="Enter Youtube Video URL" class="form-control" />
            <button type="submit" class="btn btn-primary">Download</button>
    </form>
</div>
